# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/external/openssl/
/.vscode/
/build/
/.idea/
/cmake-build-*/
/resources/certs/
/src/.vscode/
/logpp/
/include/config.h
/include/Date.hpp
/include/Level.hpp
/include/Log.hpp
/include/LogAppender.hpp
/include/LogProperties.hpp
/include/PropertiesReader.hpp
/include/Util.hpp
/include/JSON.hpp
/include/util/
/lib/lib_logpp-*
/sources/.vscode/
